<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withinstar</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Withinstar</h1>
        <form id="instagramForm">
            <label for="userInstagramID">나의 Instagram ID:</label>
            <input type="text" id="userInstagramID" name="userInstagramID" required>

            <label for="targetInstagramID">상대방 Instagram ID:</label>
            <input type="text" id="targetInstagramID" name="targetInstagramID" required>

            <button type="submit">등록하기</button>
        </form>
        <p id="message"></p>
    </div>

    <script>
        document.getElementById('instagramForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const userInstagramID = document.getElementById('userInstagramID').value;
            const targetInstagramID = document.getElementById('targetInstagramID').value;

            try {
                const response = await fetch('/save_instagram_id', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        userInstagramID: userInstagramID,
                        targetInstagramID: targetInstagramID
                    })
                });

                const result = await response.json();

                if (response.ok) {
                    document.getElementById('message').textContent = result.message;
                } else {
                    document.getElementById('message').textContent = result.error;
                }
            } catch (error) {
                document.getElementById('message').textContent = '오류가 발생했습니다. 다시 시도해주세요.';
            }
        });
    </script>
</body>
</html>
